@use '../../styles/constants/_colors' as COLORS;

.wrapper{
    padding: 1rem 1rem;
    display: flex;
    align-items: center;
    background-color: COLORS.$smoky-black;
    margin-bottom: .25rem;
    .container_name{
        //border: 2px solid red;
        flex: 1;
        p{
            color: COLORS.$mindaro;
            font-weight: bold;
            font-size: 1rem;
        }
    }
    .list_inputs{
        //border: 2px solid red;
        display: flex;
        width: 50%;
        justify-content: space-between;
        .container_input{
            width: 30%;
            //border: 2px solid red;
            display: flex;
            flex-direction: column;
            color: COLORS.$old-lace;
            text-align: center;
            justify-content: center;
            align-items: center;
            label{
                font-size: .8rem;
            }
            input{
                color: COLORS.$smoky-black;
                background-color: COLORS.$old-lace;
                border: 1px solid COLORS.$smoky-black;
                border-radius: 4px;
                text-align: center;
                width: 40px;
                height: 42px;
            }
        }
    }
}